*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif; //500, 700
    font-weight: 500;
    font-size: 18px;

    width: 100vw;
}

section:not(.fullwidth){
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

.fullwidth{
    width: 100%;
    max-width: 1440px;
}