*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif; //500, 700
    font-weight: 500;
    font-size: 18px;

    width: 100vw;
}

section:not(.fullwidth){
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

.fullwidth{
    width: 100%;
    max-width: 1440px;
}

button{
    cursor: pointer;
    width: 100%;
    padding: 0.6em 2.5em;
    background-color: $Cyan;
    border: none;
    border-radius: 55rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    &:hover{
        opacity: 0.7;
    }
}