* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: 100vw;
}

section:not(.fullwidth) {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

.fullwidth {
  width: 100%;
  max-width: 1440px;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.3em 0;
}

.menu a {
  text-decoration: none;
  font-weight: 700;
  color: white;
}

.menu button {
  cursor: pointer;
  width: 100%;
  padding: 0.8em 2em;
  background-color: #2acfcf;
  border: none;
  border-radius: 55rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.menu button:hover {
  opacity: 0.7;
}

.hidden {
  display: none;
}

.menu-mobile-layout {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  border-radius: 8px;
  background-color: #3b3054;
  padding: 1.5em 1em;
}

.menu-mobile-layout .menu-first-part, .menu-mobile-layout .menu-second-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2em;
}

.menu-mobile-layout .line {
  border: 1px solid white;
  border-radius: 55rem;
  opacity: 0.2;
}

.hamburger {
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 28px;
  height: 4px;
  margin-bottom: 5px;
  background: #9e9aa7;
}

@media only screen and (min-width: 768px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
  }
  header .logo {
    margin-right: 2em;
  }
  .menu a {
    color: #3b3054;
    opacity: 0.5;
  }
  .menu a:hover {
    opacity: 1;
  }
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobile-menu .menu-first-part, .mobile-menu .menu-second-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.8em;
  }
  .mobile-menu .menu-second-part {
    position: relative;
    right: 0;
  }
  .hamburger {
    display: none;
  }
  .hidden {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */